@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Main Styling */
html,
body {
	font-family: 'Montserrat', sans-serif;
	color: #47519a;
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.75rem;
}
h4 {
	font-size: 1.5rem;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1rem;
}

h1,
h2{
	margin-bottom: 15px;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

p {
	font-size: 1rem;
	margin: 10px 0;
	line-height: 1.5em;
}

a {
	text-decoration: none;
}

iframe{
	max-width: 100%;
}

/* Utility Classes */
.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 30px;
}

.large {
	font-size: 20px;
}
.medium{
	font-size: 16px;
}
.small {
	font-size: 12px;
}

/* Mainbody */
#mainbody {
	background-image: linear-gradient(#efeff5, #fff);
	height: 100vh;
}

/* Navbar */
.navbar {
	height: 80px;
}

.navbar .logo a {
	font-size: 1.9rem;
	font-weight: bold;
}

.navbar .logo span {
	font-weight: 200;
}

.navbar .logo .logo1 {
	font-weight: 200;
}
.navbar a {
	color: #47519a;
	font-weight: 200;
	font-size: 1rem;
}

.navbar .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.navbar ul {
	display: flex;
}

.navbar ul li {
	margin-left: 20px;
}

.mainnavbar {
	background: #efeff5;
}
#recomend {
	padding-left: 20px;
	padding-right: 20px;
}
.flexbox{
	padding-left: 20px;
	padding-right: 20px;

}
/* Main Grid */
#maingrid {
	padding: 15px 0;
}

#maingrid .container {
	display: grid;
	grid-template-columns: repeat(3, 3fr);
	gap: 20px;
}

.maingrid-box {
	color: #fff;
	padding: 60px 20px 20px 20px;
	font-size: 1.1rem;
	font-weight: 400;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
}

#maingrid .box-1 {
	background: #73b0d8;
	grid-column: 1/2;
	grid-row: 1/2;
}

#maingrid .box-2 {
	background: #b2f3f7;
	color: #47519a;
	grid-column: 2/3;
	grid-row: 1/2;
}

#maingrid .box-3 {
	background: mediumpurple;
	grid-column: 3/4;
	grid-row: 1/2;
}

#maingrid .box-4 {
	background: url(./css/resources/images/persona-caminando-campo-baston-senderismo.avif);
	grid-column: 1/3;
	grid-row: 2/4;
	}

#maingrid .box-5 {
	background: url(./css/resources/images/pies\ -descanso-bosque-atardecer.png);
	grid-column: 3/4;
	grid-row: 2/3;
}

#maingrid .box-6 {
	background: url(./css/resources/images/treking-orilla-rio.avif);
	grid-column: 3/4;
	grid-row: 3/4;
}

#maingrid .box-4,
#maingrid .box-5,
#maingrid .box-6 {
	color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.grid-contenedor{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: max-content;
    background-color: hsl(90, 2%, 77%);
    padding: 10px;
    text-align: center;
    font-size: large;
}

/* Cities */
#cities {
	padding: 20px 0;
}

.cities-riogrande {
	background: #73b0d8;
}
.cities-tolhuin {
	background: #c2d7d8;
}
.cities-ushuaia {
	background: #47519a;
}

.cities-title {
	margin: 20px 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 400px;
	padding: 20px;
	color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
}

.cities-content p {
	padding-bottom: 15px;
}

